<h1> <%= @user.username %> </h1>
<h2>Created Events:</h2>
<% if @user.created_events.empty? %>
  <p> No events were created</p>
<% else %>
  <% @user.created_events.each do |event| %>
    <p><b>Title: </b><%= event.title %></p>
    <p><b>Date: </b><%= event.date %></p>
  <% end %>
<% end %>

<h2>Attended Events:</h2>
<% if @user.attended_events.empty? %>
  <p>No events were attended.</p>
<% else %>
  <h3>Past Events:</h3>
  <% @user.attended_events.where('date < ?', Date.today).each do |event| %>
    <p><b>Title: </b><%= event.title %></p>
    <p><b>Date: </b><%= event.date %></p>
  <% end %>
  <h3>Upcoming Events:</h3>
  <% @user.attended_events.where('date >= ?', Date.today).each do |event| %>
    <p><b>Title: </b><%= event.title %></p>
    <p><b>Date: </b><%= event.date %></p>
  <% end %>
<% end %>

<%= link_to 'Edit Profile', edit_registration_path(@user) %>
<%= link_to 'Create event', new_event_path %>