<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= simple_form_for @event, html: { autocomplete: 'do-not-autofill' } do |f| %>
      <%= f.input :title  %>
      <%= f.input :location %>
      <%= f.input :date %>
      <%= f.button :submit, class: 'btn btn-primary'%>
    <% end %>
  </div>
<% end %>
