<div class="container">
  <div class="row text-center">
    <h1 class="text-uppercase display-1">Events</h1>
  </div>
  <div class="row row-cols-3">
    <div class="col"></div>
    <div class='col text-center' id="events">
    
        <% if user_signed_in? %>
          <h2>Upcoming Events</h2>
          <% @events.upcoming.each do |event| %>
    
            <div class="card mb-2">
              <% if current_user.id === event.creator.id || event.invited_user_ids.include?(current_user.id) || event.attendee_ids.include?(current_user.id) %>
                <div class="card-body">
                  <div class="card-title">
                    <h3><%= event.title %></h3>
                  </div>
                  <p><b>Created by:</b> <%= event.creator.username %></p>
                  <p><b>Date:</b> <%= event.date %></p>
                  <p><b>Location:</b> <%= event.location %></p>
                  <% if event.creator.id == current_user.id %>
                    <p>
                      <%= link_to 'Edit this event', edit_event_path(event), class: "btn btn-primary" %>
                    </p>
                  <% end %>
                    <p>
                      <%= link_to "Show this event", event, class: "btn btn-primary" %>
                    </p>
                  <% else %>
                    <div class="card">
                      <div class="card-body">
                        <div class="card-title">
                          <h3>Private Event</h3>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
            </div>
          <% end %>
    
          <h2>Past Events</h2>
          <% @events.past.each do |event| %>
    
            <% if current_user.id === event.creator.id || event.invited_user_ids.include?(current_user.id) || event.attendee_ids.include?(current_user.id) %>
              <div class="card mb-2">
                <div class="card-body">
                  <div class="card-title">
                    <h3><%= event.title %></h3>
                  </div>
                  <p><b>Created by:</b> <%= event.creator.username %></p>
                  <p><b>Date:</b> <%= event.date %></p>
                  <p><b>Location:</b> <%= event.location %></p>
                  <% if event.creator.id == current_user.id %>
                  <p>
                    <%= link_to 'Edit this event', edit_event_path(event), class: "btn btn-primary" %>
                  </p>
                  <% end %>
                  <p>
                    <%= link_to "Show this event", event, class: "btn btn-primary" %>
                  </p>
                </div>
              </div>
            <% else %>
              <div class="card mb-2">
                <div class="card-body">
                  <div class="card-title">
                    <h3>Private Event</h3>
                    <p>Must be invited to see event details!</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
    
        <% else %>
          <h2 class="mt-5">Sign in to see events!</h2>
          <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary btn-md"%>
        <% end %>
    
    
      </div>
    <div class="col"></div>
  </div>
  <% if user_signed_in? %>
      <div class="row">
        <%= link_to "New event", new_event_path, class: "btn btn-primary btn-md col-2 mx-auto" %>
      </div>
  <% end %>
</div>
