<div class="container">
  <section class="row text-center">
    <%= render @event %>
    <h1><%= @event.title %></h1>
  </section>
  
  <div class="row row-cols-3">
  <div class="col"></div>
<div class="col text-center">
  
    <section>
      <p><b>Location: </b><%= @event.location %></p>
      <p><b>Date: </b><%= @event.date.strftime('%A, %B %-d, %Y') %></p>
      <% attendee_array =  @event.attendees.map { |att| att.username } %>
      <% attendee_string = '' %>
      <% if attendee_array.length === 0 %>
        <p><b>Attendees: </b>Nobody is coming!</p>
      <% else %>
        <% attendee_array.each do |att| %>
        <% attendee_string = "#{att}, " %>
        <% end %>
      <% end %>
      <p><b>Attendees: </b> <%= attendee_string[0...-2] %> </p>
    </section>
  
    <% if user_signed_in? && @event.invited_users.include?(current_user) && !@event.attendees.include?(current_user) %>
      <%= button_to "Attend this event", event_attendings_path( event_attending:{ attended_event_id: @event.id, event_attendee_id: current_user.id} ), class: 'btn btn-dark' %>
    <% elsif user_signed_in? && @event.attendees.include?(current_user) %>
      <%= button_to "Cancel attendance", event_attending_path(event_attending: { attended_event_id: @event.id, event_attendee_id: current_user.id } ), method: :delete, class: 'btn btn-dark mb-2' %>
    <% end %>
  
  
    <% if user_signed_in? && @event.creator.id === current_user.id %>
      <%= link_to 'Invite someone!', new_event_invitation_path(:event_invitation => {:invited_event_id => @event.id}), data: { turbo_frame: 'invite_form_tag' }, class: 'btn btn-dark mb-2'%>
      <%= button_to "Destroy this event", @event, method: :delete, class: 'btn btn-dark'%>
      <%= link_to "Edit this event", edit_event_path(@event), class: 'link-dark'%>
    <% end %>
  
  
    <div>
      <%= link_to "Back to events", events_path, class: 'link-dark' %>
    </div>
</div>
    <div class="col">
    <%= turbo_frame_tag 'invite_form_tag' do%>
    <% end %>
    </div>
  </div>
</div>
