<p style="color: green"><%= notice %></p>

<%= render @event %>

<p><b>Location: </b><%= @event.location %></p>
<p><b>Date: </b><%= @event.date %></p>

<% if user_signed_in? %>
  <p>Would you like to attend this event?</p>
  <%= button_to "Attend this event", @event_attendings, method: :post %>
<% end %>

<div>
  <%= link_to "Edit this event", edit_event_path(@event) %> |
  <%= link_to "Back to events", events_path %>

  <%= button_to "Destroy this event", @event, method: :delete %>
</div>
